NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_SITE_URL=
MXROUTE_SERVER=
MXROUTE_USERNAME=
MXROUTE_PASSWORD=
SUPABASE_SECRET_KEY=
SMSLINK_CONNECTION_ID=
SMSLINK_PASSWORD=
SMSLINK_TEST_MODE=true
CRON_SECRET=
